.bg-mynav {
    background-color: #dee5e8;
  }
  
  body {
    font-size: 1.25rem;
    background-color: #f6f8fa;
      overflow: hidden; /* Hide scrollbars */
       /* Add the ability to scroll */
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .table-responsive::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .table-responsive {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .table-responsive {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  
  td {
    line-height: 3rem;
  }

  h1 {
    font-size: 32px;
    margin: 13px;
  }